<!doctype html>
<!-- HTML5 -->
<html lang="en" dir="ltr">

<head>
  <!-- Set character encoding for the document -->
  <meta charset="utf-8">

  <!-- Instruct Internet Explorer to use its latest rendering engine -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Viewport for responsive web design -->
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  <!-- Meta Description -->
  <meta name="description" content="Desafio Resultados Digitais - Tracking Server">

  <!-- Document Title -->
  <title>Desafio Resultados Digitais - Tracking Server</title>

  <!-- Recommended favicon format -->
  <!-- <link rel="icon" type="image/png" href="https://example.com/favicon.png"> -->

  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Mono:400,500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <h1>Desafio Resultados Digitais - Tracking Server</h1>
</body>

</html>